*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --color-purple-50: #7c3aed;
    --color-purple-100: #a855f7;
    --color-purple-200: #bf46ef; 
}

body{
    height: 100vh;
    width: 100wh;
    background: linear-gradient(to right,var(--color-purple-50),var(--color-purple-100),var(--color-purple-200));
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 3rem;
    padding: 0;
}

h1::after{
    border-bottom: 2px solid var(--color-purple-50) ;
    display: block;
    content: "";
    width: 40%;
    position: relative;
    top: -1rem;
}

p{
    color: #8b8b8b;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
}

main{
    background-color: white;
    width: 400px;
    height: 600px;

    padding: 3rem;
    border-radius: 10px;

    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

#header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logins-midias{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#logins-midias img{
    width: 3.5rem;
    height: 3.5rem;
    margin: 1.5rem 0  1.5rem 0;
}

.input-group{
    position: relative;
    margin-bottom: 1.5rem;
}
.input-group p{
    margin-bottom: 1rem;
}
.input-group span{
    position: absolute;
    left: 0;
}

.input{
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--color-purple-200);
  padding-left: 20px;
  height: 1.5rem;
}



#button-group{
    display: flex;
    align-items: center;
    justify-content: center;
}

#button-group button{
    width: 100%;
    background: linear-gradient(to right,var(--color-purple-50),var(--color-purple-100),var(--color-purple-200));
    border-radius: 5px;
    height: 3rem;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 450px) {
    main{
        width: 300px;
        height: 600px;
    }
}